@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  input:focus-visible {
    outline: none;
  }
}

@layer components {
  .fi-input {
    @apply bg-input-base text-input-content;
    @apply focus:bg-input-focus focus:outline-none;
    @apply active:bg-input-focus;
  }

  .fi-control {
    @apply bg-control-base text-control-content;
    @apply focus:bg-control-focus focus:outline-none;
    @apply hover:bg-control-focus;
  }
}

body {
  /* @apply bg-gradient-to-br from-base-primary to-base-secondary; */
  @apply bg-base-primary;
  @apply text-content-primary;
}

body.loading * {
  transition: none !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

html,
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-x: none;
}
