@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-accent-100: 241 232 255;
    --color-accent-300: 174 129 233;
    --color-accent-500: 110 40 200;
    --color-accent-700: 85 20 167;
    --color-accent-900: 60 5 130;

    --color-error-100: 255 236 229;
    --color-error-300: 231 158 132;
    --color-error-500: 210 75 30;
    --color-error-700: 181 59 18;
    --color-error-900: 145 42 7;

    --color-neutral-100: 245 245 245;
    --color-neutral-300: 212 212 212;
    --color-neutral-500: 115 115 115;
    --color-neutral-700: 64 64 64;
    --color-neutral-900: 23 23 23;
  }

  :root {
    --color-text-base: var(--color-neutral-900);
    --color-text-muted: var(--color-neutral-500);
    --color-text-accent: var(--color-accent-700);
    --color-text-error: var(--color-error-900);
    --color-text-inverted: var(--color-neutral-100);

    --color-background-base: var(--color-neutral-100);
    --color-background-muted: var(--color-neutral-300);
    --color-background-accent: var(--color-accent-500);
    --color-background-accent-muted: var(--color-accent-100);
    --color-background-error: var(--color-error-300);
    --color-background-inverted: var(--color-neutral-900);

    --color-border-base: var(--color-accent-100);
    --color-border-accent: var(--color-accent-500);

    --color-shadow-base: var(--color-neutral-500);
  }
}

@layer base {
  h1 {
    @apply text-3xl font-semibold;
  }

  h2 {
    @apply text-2xl font-medium;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-x: none;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input:focus-visible {
  outline: none;
}
